*.log
.DS_Store
.claude/
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.htaccess
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/error_log
/node_modules
#/public/build
/public/error_log
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
